Syntax error when URL contains an apostrophe

When a URL contains an apostrophe/single quote, such as (https://en.wikipedia.org/wiki/Carnot%27s_theorem_(thermodynamics)), the resulting curl command has a single quote/apostrophe in the middle of the URL argument, and then we get into some very odd behavior with executing the command with an odd number of single quotes.

FIX:

import urllib.parse

In the generate_curl_command function, set the url with this line:

url = urllib.parse.quote_plus(request['url'])

This will properly URL encode any special characters, particularly the apostrophes/single quotes.

wtf is this fix you need to encode only the path not everything

> wtf is this fix you need to encode only the path not everything

In accordance with RFC9110, the entire requested URI, including any query string parameters, must be be properly encoded.  Python's urllib.parse.quote and urllib.parse.quote_plus take provided inputs and urlencode them such that they are RFC3986 compliant.  

In other words, you are incorrect in your understanding.  However, that does not mean that you don't have a technical reason you are making this complaint, which you have so far failed to clearly provide, along with the expected punctuation, capitalization and professionalism.  If you have some specific RFC3985 non-compliant characters for a URI that you want to NOT be encoded, both of those Python functions have a "safe" option where you can specify characters that you do not want to have encoded.  Adding support for that in this program is an exercise for the interested programmer.

For your reference, please see RFC9110 (https://www.rfc-editor.org/rfc/rfc9110.html), RFC3986 (https://www.rfc-editor.org/rfc/rfc3986.html), and the documentation for urllib.parse (https://docs.python.org/3/library/urllib.parse.html#module-urllib.parse)

Try `curl 'https%3A%2F%2Fgithub.com%2FTheoEsisar%2FHarToCurl%2Fissues%2F1'` 🤡 

> Try `curl 'https%3A%2F%2Fgithub.com%2FTheoEsisar%2FHarToCurl%2Fissues%2F1'` 🤡

See?  Making a clear problem statement isn't hard.  Issue is the _unwanted encoding of forward slashes_, which we are inferring despite the fact that you never actually say it.

Effectively, however, it is not a show-stopper, because curl will process the URI even with encoded slashes.  Works perfectly, no errors.

If you read the documentation, however, you would have noted that the difference between urllib.parse.quote and urllib.parse.quote_plus is that quote defaults to a safe setting of '/', and quote_plus explicitly says: "It also does not have safe default to '/'."

Thus, had you read the documentation, you could have proposed a fix of: Change the line from 

url = urllib.parse.quote_plus(request['url'])

...to...

url = urllib.parse.quote_plus(request['url'], safe='/')

...in order that slashes are not encoded.

Further, had you actually tested this by running the curl command, you could have suggested this change as a cosmetic change because the original change results in no technical problem, unlike the original issue of unencoded single quotes causing problems in the curl command when run on the a Linux command line.

And if you had done any of this, then we would have said, "Good job, you identified a problem, communicated it clearly, and suggested a practical and quick fix supported by relevant documentation."

If (true)... then (result).  But if (false)... then we are where we are now.  Please use this experience to get better at clearly communicating problem statements so you can get the fix you want.

do you test your answer before posting at least?
`urllib.parse.quote_plus("https://google.fr/mdr'", safe='/')`
`'https%3A//google.fr/mdr%27'`

> do you test your answer before posting at least?
> 
> ```
> >>> urllib.parse.quote_plus("https://google.fr/mdr'", safe='/')
> 'https%3A//google.fr/mdr%27'
> > curl 'https%3A//google.fr/mdr%27'
> curl: (3) URL rejected: Bad hostname
> ```
> 
> And yes I test before posting:
> 
> ```
> > curl 'https%3A%2F%2Fgithub.com%2FTheoEsisar%2FHarToCurl%2Fissues%2F1'
> curl: (3) URL rejected: Bad hostname
> ```
> 
> If you tested what you posted before posting it, I wouldn't be here taunting you.

Did you test your original complaint?  The curl commands WORK.  Your original complaint is COSMETIC even if you find the working solution inelegant.  The suggestion I made is for you to READ DOCUMENTATION and MAKE GOOD PROBLEM DESCRIPTIONS.  

No, if you want to actually be useful, take one step further, READ THE DOCUMENTATION, and don't just jump into the code.  I reviewed your pull request and merge.  The difference between the original fix, WHICH WORKS with fully encoded inelegant URLs, and the code you put together is that you are now responsible for handling all the possible protocol variations in the code you wrote, rather than just dealing with the encoding issues on output from browsers that already mostly do all the URL handling correctly.  You opened a can of worms of coding that you won't fix with under half an hour worth of coding.  Now you get to code to the specification, not to what you think you expect.  Go read.

> The curl commands WORK

```
Python 3.12.3 (main, Apr 23 2024, 09:16:07) [GCC 13.2.1 20240417] on linux
Type "help", "copyright", "credits" or "license" for more information.
>>> import urllib.parse
>>> url="https://github.com/TheoEsisar/HarToCurl/issues/1"
>>> url = urllib.parse.quote_plus(url)
>>> url
'https%3A%2F%2Fgithub.com%2FTheoEsisar%2FHarToCurl%2Fissues%2F1'
>>> 

~ via C v14.1.1-gcc via ☕ v22 via 🐍 v3.12.3 took 32s 
❯ curl 'https%3A%2F%2Fgithub.com%2FTheoEsisar%2FHarToCurl%2Fissues%2F1'
curl: (3) URL rejected: Bad hostname
```


> > The curl commands WORK
> 
> ```
> Python 3.12.3 (main, Apr 23 2024, 09:16:07) [GCC 13.2.1 20240417] on linux
> Type "help", "copyright", "credits" or "license" for more information.
> >>> import urllib.parse
> >>> url="https://github.com/TheoEsisar/HarToCurl/issues/1"
> >>> url = urllib.parse.quote_plus(url)
> >>> url
> 'https%3A%2F%2Fgithub.com%2FTheoEsisar%2FHarToCurl%2Fissues%2F1'
> >>> 
> 
> ~ via C v14.1.1-gcc via ☕ v22 via 🐍 v3.12.3 took 32s 
> ❯ curl 'https%3A%2F%2Fgithub.com%2FTheoEsisar%2FHarToCurl%2Fissues%2F1'
> curl: (3) URL rejected: Bad hostname
> ```

Use the output of the Python code in this actual project, not hand assembling a partial result.  I have megabytes worth of auto-generated curl commands, output of this script, continuously looping to feed WAF machine learning.  I'll give you one line to try:

`curl -skX GET 'https%3A%2F%2FVIRTUALIP%2Fw%2Fload.php%3Flang%3Den%26modules%3Dsite.styles%26only%3Dstyles%26skin%3Dvector-2022' -H 'Host: encylo.org' -H 'User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:127.0) Gecko/20100101 Firefox/127.0' -H 'Accept: text/css,*/*;q=0.1' -H 'Accept-Language: en-US,en;q=0.5' -H 'Accept-Encoding: gzip, deflate, br, zstd' -H 'DNT: 1' -H 'Connection: keep-alive' -H 'Referer: https://encylo.org/wiki/Montana-class_battleship?wprov=srpw1_0' -H 'Cookie: WMF-Last-Access=17-Jun-2024; WMF-Last-Access-Global=17-Jun-2024; GeoIP=US:WA:North_Bend:47.48:-121.75:v4; NetworkProbeLimit=0.001; enwikimwuser-sessionId=cc4f0ecb4335327ad9c0; WMF-DP=3cc' -H 'Sec-Fetch-Dest: style' -H 'Sec-Fetch-Mode: no-cors' -H 'Sec-Fetch-Site: same-origin' -H 'Sec-GPC: 1' -H 'Priority: u=2' -H 'Pragma: no-cache' -H 'Cache-Control: no-cache' -H 'TE: trailers'`

You'll need to use sed to replace VIRTUALIP with either a domain name or an IP address, or you can just hand replace it if you like.  If that doesn't work, there might be something wrong with the curl you have installed, because it works just fine in WSL and the native Linux environment of my enterprise.


ok so I ran the harToCurl.py and get this result that I tested
```
`curl -X GET 'https%3A%2F%2Fraw.githubusercontent.com%2FTheoEsisar%2FHarToCurl%2Fmain%2FharToCurl.py' -H ':authority: raw.githubusercontent.com' -H ':method: GET' -H ':path: /TheoEsisar/HarToCurl/main/harToCurl.py' -H ':scheme: https' -H 'accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7' -H 'accept-encoding: gzip, deflate, br, zstd' -H 'accept-language: fr-FR,fr;q=0.9,en-US;q=0.8,en;q=0.7,zh-TW;q=0.6,zh;q=0.5' -H 'cache-control: no-cache' -H 'pragma: no-cache' -H 'priority: u=0, i' -H 'referer: https://github.com/TheoEsisar/HarToCurl/blob/main/harToCurl.py' -H 'sec-ch-ua: "Google Chrome";v="125", "Chromium";v="125", "Not.A/Brand";v="24"' -H 'sec-ch-ua-mobile: ?0' -H 'sec-ch-ua-platform: "Linux"' -H 'sec-fetch-dest: document' -H 'sec-fetch-mode: navigate' -H 'sec-fetch-site: cross-site' -H 'sec-fetch-user: ?1' -H 'upgrade-insecure-requests: 1' -H 'user-agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36'`

`curl: (3) URL rejected: Bad hostname`

I use archlinux, and have the last version of curl
```
1 core/curl 8.8.0-1 (1.1 MiB 1.8 MiB) (Installed)
    command line tool and library for transferring data with URLs
```



> ok so I ran the harToCurl.py and get this result that I tested
> 
> `curl -X GET 'https%3A%2F%2Fraw.githubusercontent.com%2FTheoEsisar%2FHarToCurl%2Fmain%2FharToCurl.py' -H ':authority: raw.githubusercontent.com' -H ':method: GET' -H ':path: /TheoEsisar/HarToCurl/main/harToCurl.py' -H ':scheme: https' -H 'accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7' -H 'accept-encoding: gzip, deflate, br, zstd' -H 'accept-language: fr-FR,fr;q=0.9,en-US;q=0.8,en;q=0.7,zh-TW;q=0.6,zh;q=0.5' -H 'cache-control: no-cache' -H 'pragma: no-cache' -H 'priority: u=0, i' -H 'referer: https://github.com/TheoEsisar/HarToCurl/blob/main/harToCurl.py' -H 'sec-ch-ua: "Google Chrome";v="125", "Chromium";v="125", "Not.A/Brand";v="24"' -H 'sec-ch-ua-mobile: ?0' -H 'sec-ch-ua-platform: "Linux"' -H 'sec-fetch-dest: document' -H 'sec-fetch-mode: navigate' -H 'sec-fetch-site: cross-site' -H 'sec-fetch-user: ?1' -H 'upgrade-insecure-requests: 1' -H 'user-agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36'`
> 
> `curl: (3) URL rejected: Bad hostname`
> 
> I use archlinux, and have the last version of curl
> 
> ```
> 1 core/curl 8.8.0-1 (1.1 MiB 1.8 MiB) (Installed)
>     command line tool and library for transferring data with URLs
> ```

Well, I don't have the latest version of curl, but I did get a "curl: (6) Could not resolve host" error when I ran it in WSL, so you may have something here.  Which is odd, because I do actually have it running just fine in my enterprise environment and generating thousands of machine learning suggestions.  However, as you might interpret, I'm using IP addresses rather than FQDNs.

So, if we set safe to '/:', it should work, because the immediate problem statement is _forward slashes and colons getting encoded_.  While I like your enthusiasm to jump into code, like I said, we're starting from mostly known good inputs from the browsers via the HARs, and if we take on the responsibility to completely rebuild URLs, we are buying ourselves a much bigger problem.  We just need to address the immediate issue, not rebuild the world.

![a](https://image.noelshack.com/fichiers/2016/24/1466366209-risitas24.png)

> ![a](https://camo.githubusercontent.com/c1f60405cebe22ce55a78d9773446a9e16f96d69730505115d6a94f129947674/68747470733a2f2f696d6167652e6e6f656c736861636b2e636f6d2f66696368696572732f323031362f32342f313436363336363230392d7269736974617332342e706e67)

You're slightly competent at coding; you're not professional enough to have a job.  I'm not sure who was supposed to tell you this, but I guess it falls to me: leave the memes at home.  Also, everything you put on GitHub is your resume.

Unclear communication; unwarranted arrogance; inability or unwillingness to express technical concepts; documentation in code is sorely lacking; brings problems but few solutions; solutions provided cause more problems; jumps into code before clarifying specification; will not stay within scope of the project; inappropriate use of profanity (even in acronyms), memes and emojis like a pre-teen.  I'm not under any illusions that you will take any of this to heart and find some maturity, but I think whoever is considering you for a job in the future and finds this interaction will take these into consideration.